@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  direction: rtl;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-97%);
    }
  }

  --animate-marquee: marquee 15s linear infinite;
}

@theme {
  --color-primary-50: #d9dce2;
  --color-primary-100: #b3bac6;
  --color-primary-200: #9ba3b3;
  --color-primary-300: #848ea1;
  --color-primary-400: #6d798e;
  --color-primary-500: #57647d;
  --color-primary-600: #42506b;
  --color-primary-700: #2e3d5a;
  --color-primary-800: #1b2a49;
  --color-primary-900: #16233e;
  --color-primary-1000: #111c34;
  --color-primary-1100: #0f192f;
  --color-primary-11200: #050a17;

  --color-secondary-50: #f0edf8;
  --color-secondary-100: #e2dbf0;
  --color-secondary-200: #d3c9e9;
  --color-secondary-300: #c5b7e1;
  --color-secondary-400: #b6a4da;
  --color-secondary-500: #a892d3;
  --color-secondary-600: #8b6ec4;
  --color-secondary-700: #6e4ab5;
  --color-secondary-800: #5b3e96;
  --color-secondary-900: #4d347f;
  --color-secondary-1000: #422c6d;
  --color-secondary-1100: #37255b;
  --color-secondary-11200: #2c1e48;

  --color-neutral-50: #dfdfdf;
  --color-neutral-100: #dbdbdb;
  --color-neutral-200: #cbcbcb;
  --color-neutral-300: #bcbcbc;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #868686;
  --color-neutral-600: #6c6c6c;
  --color-neutral-700: #5f5f5f;
  --color-neutral-800: #535353;
  --color-neutral-900: #474747;
  --color-neutral-1000: #3b3b3b;
  --color-neutral-1100: #1b1b1b;
  --color-neutral-11200: #111111;

  --color-accent-50: #e2e0eb;
  --color-accent-100: #d3d0e2;
  --color-accent-200: #b6b1ce;
  --color-accent-300: #a8a1c4;
  --color-accent-400: #9991ba;
  --color-accent-500: #8b82b0;
  --color-accent-600: #6e629d;
  --color-accent-700: #584f7d;
  --color-accent-800: #484067;
  --color-accent-900: #423b5e;
  --color-accent-1000: #37314e;
  --color-accent-1100: #2c273f;
  --color-accent-11200: #211d2f;

  --color-background: #fafafa;

  --color-skeleton: #d9d9d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background;
}

.main {
  @apply px-2;
}

.container {
  @apply pt-4 px-6 w-screen;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
